.search-form {
    display: flex;
    gap: 0.7rem;
    margin: 0.7rem;
}

.search-input {
    width: 30rem;
    padding: 0.8rem;


}

.search-button {
    background-color: #990000;
    padding: 0.7rem;
    cursor: pointer;
    color: #fcfcfc;
}

.search-button:hover {
    background-color: white;
    color:#990000;
    border: 1px solid #990000;
}