.user-profile {
    height: 20rem;
    margin: 0 10rem 0 10rem;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa;
  }

  #user-title {
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(204, 38, 179, 0.1);
  }

  .user-stats  {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(190, 19, 19, 0.1);
    
    margin-bottom: 20px;
  }

  .user-stats p {
    font-size: 14px;
    margin-bottom: 5px;
    
  }
  
  .user-stats span {
    font-weight: bold;
  }
  
  .user-activity {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(26, 164, 166, 0.1);
  }

  .activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .activity-item:last-child {
    border-bottom: none;
  }
  
  .activity-details p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .activity-link a {
    font-size: 14px;
    color: #1da1f2;
    text-decoration: none;
  }
  
  .activity-link a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .user-profile {
      padding: 10px;
    }
  
    .main {
      flex-direction: column;
    }
  
    #user-title {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    
  
    .user-activity {
      padding: 10px;
    }
  
    .activity-details p {
      font-size: 12px;
    }
  
    .activity-link a {
      font-size: 12px;
    }
  }
  